In [14]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [17]:
merged_df = pd.read_csv("./Data/merged.csv")

In [18]:
merged_df["description"].unique()

array(['Rental income', 'Rental Income for September', 'Rental Income',
       'Tinkerbell cake', 'Purchase of building', 'Table',
       'Baking Lessons', 'Zoo Chocolates StoredProviderCaching',
       'Zoo Chocolates', 'Cinderella Cupcakes', 'Jasmine Cake',
       'Frozen cupcakes', 'Ariel Cupcakes', 'Training', 'Bank Charges',
       'Interest expense', 'Electricity',
       'Electricity Increase once off payment', 'Salaries',
       'Salaries overtime', 'Bashful Overtime', 'Payment; Bashful',
       'Advertising Expense', 'Advertising expense',
       'Advertising Expenses', 'Transport costs', 'Transit Costs',
       'Repairs and Maintenance', 'Vehicle repairs',
       'Purchase of Computer Equipment',
       'Purchase of computer accessories', 'Purchase of baking Equipment',
       'Scar Equipment - Maintenance', 'Maintenance',
       'Computer Equipment', 'Packaging products', 'Packaging Materials',
       'Grumpy Wages', 'Grumpy wages', 'Overtime', 'Potato',
       'Capitalised', 'Computer Additions', 'Staff Party',
       'Year end Party - Entertainment', 'Additional Office Machine',
       'Consulting Fees', '0'], dtype=object)

In [16]:
merged_df.head()

,Unnamed: 0,id_invoice,issue_date,due_date,paid_date,paid,contact_id,total,amount_due,exchange_rate,currency,is_sale,invoice_id,id_invoice_info,description,item_code,quantity,id,name,is_supplier,is_customer,email,phone,sale_unit_price,purchase_unit_price,revenue,expense,profit
0,0,90381d5a-9348-4208-915c-60b082378370,2021-01-31T00:00:00.000Z,2021-02-06T00:00:00.000Z,2021-02-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,90381d5a-9348-4208-915c-60b082378370,a90834f9-90b5-4342-9cb6-f8d45b35fd7e,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,0.0,0.0,0.0
1,1,3dec381c-7af5-436d-8b35-2d3a69b95f89,2021-02-28T00:00:00.000Z,2021-03-06T00:00:00.000Z,2021-03-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,3dec381c-7af5-436d-8b35-2d3a69b95f89,3554bf7d-bd10-449c-b05a-5a5e478bab73,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,0.0,0.0,0.0
2,2,0222b396-f017-4a90-ad5b-4a8e241d4afc,2021-03-31T00:00:00.000Z,2021-04-06T00:00:00.000Z,2021-04-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,0222b396-f017-4a90-ad5b-4a8e241d4afc,1e35c6e6-456d-4dae-9d7f-c4ee6b15c06e,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,0.0,0.0,0.0
3,3,eb59789d-a21e-4628-a774-17a3bf38607b,2021-04-30T00:00:00.000Z,2021-05-06T00:00:00.000Z,2021-05-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,eb59789d-a21e-4628-a774-17a3bf38607b,debf819e-83f7-41bf-9cef-1389fe2b5d94,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,0.0,0.0,0.0
4,4,87d4c9dc-f37a-43a2-8aab-40ba13f3a8ac,2021-05-31T00:00:00.000Z,2021-06-06T00:00:00.000Z,2021-06-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,87d4c9dc-f37a-43a2-8aab-40ba13f3a8ac,f0e212e7-de75-4270-826f-50d5a75ce268,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,0.0,0.0,0.0

In [ ]:
merged_df.loc[(df['revenue'] == 0) & (merged_df['is_sale'] == True), 'revenue'] = merged_df['total']

In [3]:
#First we need to drop all columns with issue date nan to avoid problems when charts are displayed and then we need
# to replace all the nan values with 0

In [4]:
merged_df.dropna(subset=['issue_date'], inplace=True)

In [5]:
#We first need to filter based on the query fields product and dates

In [6]:
query = ['profit', 'TIN001', '2021-04-05T00:00:00.000Z', '2023-08-05T00:00:00.000Z', 'arima']

#filtering after startdate
filtered_df = merged_df[merged_df["issue_date"]>=query[2]]
#filtering before enddate
filtered_df = filtered_df[merged_df["issue_date"]<=query[3]]
filtered_df = filtered_df[merged_df["item_code"]==query[1]]
#get the column

/home/sachin/anaconda3/envs/ML/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/sachin/anaconda3/envs/ML/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [10]:
result_df = filtered_df[["issue_date", query[0]]].sort_values(by='issue_date', ascending=True)

In [13]:
result_df.to_json()

'{"issue_date":{"177":"2021-12-12T00:00:00.000Z","124":"2021-12-19T00:00:00.000Z","106":"2022-02-08T00:00:00.000Z","108":"2022-03-08T00:00:00.000Z","119":"2022-03-23T00:00:00.000Z","143":"2022-05-24T00:00:00.000Z","78":"2022-06-14T00:00:00.000Z","102":"2022-08-30T00:00:00.000Z","136":"2022-08-31T00:00:00.000Z","127":"2022-09-15T00:00:00.000Z","84":"2022-09-15T00:00:00.000Z","178":"2022-09-15T00:00:00.000Z","137":"2022-09-15T00:00:00.000Z","128":"2022-09-25T00:00:00.000Z","139":"2022-10-26T00:00:00.000Z","179":"2023-04-11T00:00:00.000Z","183":"2023-04-11T00:00:00.000Z","181":"2023-04-11T00:00:00.000Z","93":"2023-05-04T00:00:00.000Z","26":"2023-05-15T00:00:00.000Z","25":"2023-05-15T00:00:00.000Z"},"profit":{"177":154000.0,"124":11000.0,"106":22000.0,"108":11000.0,"119":110.0,"143":16500.0,"78":55000.0,"102":11000.0,"136":3300.0,"127":27500.0,"84":10890.0,"178":33000.0,"137":6050.0,"128":3300.0,"139":1100.0,"179":110.0,"183":110.0,"181":110.0,"93":5500.0,"26":1100.0,"25":1100.0}}'