In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
merged = pd.read_csv("./Data/merged.csv")

In [4]:
merged.head()

,Unnamed: 0,id_invoice,issue_date,due_date,paid_date,paid,contact_id,total,amount_due,exchange_rate,currency,is_sale,invoice_id,id_invoice_info,description,item_code,quantity,id,name,is_supplier,is_customer,email,phone,sale_unit_price,purchase_unit_price,revenue,expense,profit
0,0,90381d5a-9348-4208-915c-60b082378370,2021-01-31T00:00:00.000Z,2021-02-06T00:00:00.000Z,2021-02-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,90381d5a-9348-4208-915c-60b082378370,a90834f9-90b5-4342-9cb6-f8d45b35fd7e,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8
1,1,3dec381c-7af5-436d-8b35-2d3a69b95f89,2021-02-28T00:00:00.000Z,2021-03-06T00:00:00.000Z,2021-03-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,3dec381c-7af5-436d-8b35-2d3a69b95f89,3554bf7d-bd10-449c-b05a-5a5e478bab73,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8
2,2,0222b396-f017-4a90-ad5b-4a8e241d4afc,2021-03-31T00:00:00.000Z,2021-04-06T00:00:00.000Z,2021-04-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,0222b396-f017-4a90-ad5b-4a8e241d4afc,1e35c6e6-456d-4dae-9d7f-c4ee6b15c06e,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8
3,3,eb59789d-a21e-4628-a774-17a3bf38607b,2021-04-30T00:00:00.000Z,2021-05-06T00:00:00.000Z,2021-05-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,eb59789d-a21e-4628-a774-17a3bf38607b,debf819e-83f7-41bf-9cef-1389fe2b5d94,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8
4,4,87d4c9dc-f37a-43a2-8aab-40ba13f3a8ac,2021-05-31T00:00:00.000Z,2021-06-06T00:00:00.000Z,2021-06-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,87d4c9dc-f37a-43a2-8aab-40ba13f3a8ac,f0e212e7-de75-4270-826f-50d5a75ce268,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8