In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
merged = pd.read_csv("./Data/merged.csv")

In [3]:
merged.head()

,Unnamed: 0,id_invoice,issue_date,due_date,paid_date,paid,contact_id,total,amount_due,exchange_rate,currency,is_sale,invoice_id,id_invoice_info,description,item_code,quantity,id,name,is_supplier,is_customer,email,phone,sale_unit_price,purchase_unit_price,revenue,expense,profit
0,0,90381d5a-9348-4208-915c-60b082378370,2021-01-31T00:00:00.000Z,2021-02-06T00:00:00.000Z,2021-02-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,90381d5a-9348-4208-915c-60b082378370,a90834f9-90b5-4342-9cb6-f8d45b35fd7e,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8
1,1,3dec381c-7af5-436d-8b35-2d3a69b95f89,2021-02-28T00:00:00.000Z,2021-03-06T00:00:00.000Z,2021-03-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,3dec381c-7af5-436d-8b35-2d3a69b95f89,3554bf7d-bd10-449c-b05a-5a5e478bab73,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8
2,2,0222b396-f017-4a90-ad5b-4a8e241d4afc,2021-03-31T00:00:00.000Z,2021-04-06T00:00:00.000Z,2021-04-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,0222b396-f017-4a90-ad5b-4a8e241d4afc,1e35c6e6-456d-4dae-9d7f-c4ee6b15c06e,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8
3,3,eb59789d-a21e-4628-a774-17a3bf38607b,2021-04-30T00:00:00.000Z,2021-05-06T00:00:00.000Z,2021-05-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,eb59789d-a21e-4628-a774-17a3bf38607b,debf819e-83f7-41bf-9cef-1389fe2b5d94,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8
4,4,87d4c9dc-f37a-43a2-8aab-40ba13f3a8ac,2021-05-31T00:00:00.000Z,2021-06-06T00:00:00.000Z,2021-06-06T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,174.8,0.0,1.0,GBP,True,87d4c9dc-f37a-43a2-8aab-40ba13f3a8ac,f0e212e7-de75-4270-826f-50d5a75ce268,Rental income,0,1.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,0.0,0.0,174.8,0.0,174.8

In [5]:
merged[merged["item_code"]!="0"]

,Unnamed: 0,id_invoice,issue_date,due_date,paid_date,paid,contact_id,total,amount_due,exchange_rate,currency,is_sale,invoice_id,id_invoice_info,description,item_code,quantity,id,name,is_supplier,is_customer,email,phone,sale_unit_price,purchase_unit_price,revenue,expense,profit
25,25,e34ffdd2-64be-4169-9fbc-34e869628136,2023-05-15T00:00:00.000Z,2023-05-31T00:00:00.000Z,2023-05-15T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,1250.0,0.0,1.0,GBP,True,e34ffdd2-64be-4169-9fbc-34e869628136,d1ddd64d-8f7f-4ab6-afa7-66c3871c60e3,Tinkerbell cake,TIN001,10.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,125.0,15.0,1250.0,150.0,1100.0
26,26,c61b4382-27f2-481c-b3d0-1f0e7401a35d,2023-05-15T00:00:00.000Z,2023-05-31T00:00:00.000Z,2023-05-15T00:00:00.000Z,True,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,1250.0,0.0,1.0,GBP,True,c61b4382-27f2-481c-b3d0-1f0e7401a35d,9ed2e475-c050-4c42-9c99-4de43b06b349,Tinkerbell cake,TIN001,10.0,8e81fbc4-4f33-4ae9-bf5e-a2415372e77b,Snow White,False,True,0,0,125.0,15.0,1250.0,150.0,1100.0
55,55,7b214b1b-450e-4bee-ab5c-c8691ff9640a,2023-05-01T00:00:00.000Z,2023-05-08T00:00:00.000Z,2023-05-08T00:00:00.000Z,True,cf2b417f-352e-486f-a5e0-a32cbbfa0826,4000.0,0.0,1.0,GBP,True,7b214b1b-450e-4bee-ab5c-c8691ff9640a,b719f0f5-16e8-43fd-b8fe-9e6b17a87d30,Zoo Chocolates StoredProviderCaching,CHO001,20.0,cf2b417f-352e-486f-a5e0-a32cbbfa0826,Mrs Potts,False,True,0,0,200.0,150.0,4000.0,3000.0,1000.0
58,58,478763d8-7e53-4023-8643-c618604c6f42,2023-06-21T00:00:00.000Z,2023-06-21T00:00:00.000Z,2023-06-21T00:00:00.000Z,True,cf2b417f-352e-486f-a5e0-a32cbbfa0826,100.0,0.0,1.0,GBP,True,478763d8-7e53-4023-8643-c618604c6f42,c43f86a0-4921-4a73-8d22-3d872b913cb4,Zoo Chocolates,CHO001,1.0,cf2b417f-352e-486f-a5e0-a32cbbfa0826,Mrs Potts,False,True,0,0,200.0,150.0,200.0,150.0,50.0
61,61,d1c5eee6-9b87-46ed-a153-0a344f242675,2021-03-14T00:00:00.000Z,2021-04-30T00:00:00.000Z,2021-04-30T00:00:00.000Z,True,d7d2b5fc-32e7-4011-94a4-2c8aa0ff9e4f,1725.0,0.0,1.0,GBP,True,d1c5eee6-9b87-46ed-a153-0a344f242675,3e2ee452-d7c7-4bf5-95ba-c0aae26815a6,Cinderella Cupcakes,CIN001,100.0,d7d2b5fc-32e7-4011-94a4-2c8aa0ff9e4f,Cindarella,False,True,0,0,15.0,1.0,1500.0,100.0,1400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,346,f1daae51-f59b-4aec-8400-6e48161ebc4d,2023-06-01T00:00:00.000Z,2023-06-30T00:00:00.000Z,2023-07-01T00:00:00.000Z,True,0df15899-fae7-43f6-84ca-c23c1d71aaec,1500.0,0.0,1.0,GBP,False,f1daae51-f59b-4aec-8400-6e48161ebc4d,d66a470f-dcdf-4d73-ad59-01bf97bb2380,Ariel Cupcakes,ARI001,500.0,0df15899-fae7-43f6-84ca-c23c1d71aaec,Ursula,True,False,0,0,50.0,3.0,25000.0,1500.0,23500.0
416,416,09b325e7-6783-459d-a974-214ecfb5d835,2021-10-27T00:00:00.000Z,2021-10-11T00:00:00.000Z,2022-01-25T00:00:00.000Z,True,28e4dba4-d4bd-4cd0-9a2d-7fab94536d4e,1725.0,0.0,1.0,GBP,False,09b325e7-6783-459d-a974-214ecfb5d835,a7508d73-7c93-4873-943d-850acf4acea2,Jasmine Cake,JAS001,150.0,28e4dba4-d4bd-4cd0-9a2d-7fab94536d4e,Iago Cake,True,False,0,0,0.0,10.0,0.0,1500.0,-1500.0
466,466,ea705f83-049c-4c70-9fc4-61b42938a2cc,2022-04-11T00:00:00.000Z,2022-04-27T00:00:00.000Z,2022-04-27T00:00:00.000Z,True,763190a0-8e54-4082-ad28-4b25aaf3b31d,150000.0,0.0,1.0,GBP,False,ea705f83-049c-4c70-9fc4-61b42938a2cc,33b6f9a6-1a80-4eb5-a7f2-be2d3ca16386,Zoo Chocolates,CHO001,1000.0,763190a0-8e54-4082-ad28-4b25aaf3b31d,Dawn Bellwether,True,False,0,0,200.0,150.0,200000.0,150000.0,50000.0
467,467,21879939-6fe7-4055-a929-10a9288fa1ea,2022-05-19T00:00:00.000Z,2022-05-31T00:00:00.000Z,2022-05-31T00:00:00.000Z,True,763190a0-8e54-4082-ad28-4b25aaf3b31d,15000.0,0.0,1.0,GBP,False,21879939-6fe7-4055-a929-10a9288fa1ea,040b078c-a03e-4c0d-8194-8ec1b54df01f,Zoo Chocolates,CHO001,100.0,763190a0-8e54-4082-ad28-4b25aaf3b31d,Dawn Bellwether,True,False,0,0,200.0,150.0,20000.0,15000.0,5000.0
469,469,16b5fe38-5924-48a3-9059-b1e93181226e,2022-09-15T00:00:00.000Z,2022-09-30T00:00:00.000Z,2022-09-30T00:00:00.000Z,True,763190a0-8e54-4082-ad28-4b25aaf3b31d,67500.0,0.0,1.0,GBP,False,16b5fe38-5924-48a3-9059-b1e93181226e,6cf110a8-1471-42cd-a897-14350831e360,Zoo Chocolates,CHO001,500.0,763190a0-8e54-4082-ad28-4b25aaf3b31d,Dawn Bellwether,True,False,0,0,200.0,150.0,100000.0,75000.0,25000.0

In [6]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

def stl_decomposition(data, item_code, date_col, value_col):
    # Filter data for the given item_code
    item_data = data[data['item_code'] == item_code]
    
    # Ensure date column is in datetime format
    item_data[date_col] = pd.to_datetime(item_data[date_col])
    
    # Aggregate data (assuming monthly for simplicity)
    aggregated_data = item_data.groupby(item_data[date_col].dt.to_period("M")).agg({
        value_col: 'sum'
    }).reset_index()
    
    # Convert period back to datetime for STL
    aggregated_data[date_col] = aggregated_data[date_col].dt.to_timestamp()
    
    # Perform STL decomposition
    result = sm.tsa.seasonal_decompose(aggregated_data[value_col], model='additive', period=12)
    
    # Plot the decomposition
    result.plot()
    plt.suptitle(f'STL Decomposition for item_code: {item_code}')
    plt.tight_layout()
    plt.subplots_adjust(top=0.9)
    plt.show()

In [7]:
stl_decomposition(merged, "ARI001", "issue_date", "profit")

/home/sachin/anaconda3/envs/ML/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/sachin/anaconda3/envs/ML/lib/python3.6/site-packages/pandas/core/arrays/datetimes.py:1092: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

ValueError: x must have 2 complete cycles requires 24 observations. x only has 13 observation(s)